#
# To get coverage reports for tests.
#   py.test --cov gbdx_task_template --cov-report html gbdx_task_template
#
[run]
omit =
    # Folders to omit
    gbdx_task_template/test/*
    # Single files to omit
    */__init__.py
    .bumpversion.cfg
    .gitignore
    license.md
    MANIFEST.in
    pytest.ini
    README.rst
    requirements.txt
    setup.py
